.body {
    margin: 0;
    background-image: url('/mainVisual.jpg');
    background-size: cover;
}

.mainContainer {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
}

/* Sidebar Navigation */
.sideCol {
    height: 100%;
    margin-left: 0;
    width: 70px;
    padding: 0 20px;
}

@media screen and (max-width: 760px) {
    .mainContainer {
        height: 100%; 
    }

    .fa-bars {
        display: block !important;
        position: fixed;
        z-index: 2;
        font-size: 30px;
        padding-top: 20px;
        padding-left: 20px;
    }

    .fa-times {
        display: block !important;
        position: fixed;
        z-index: 2;
        font-size: 20px;
        padding-top: 30px;
        padding-left: 32px;
    }

    .sideCol {
        width: 0px;
        overflow: hidden;
        position: fixed;
        z-index: 1;
        transition: 0.5s;
        padding: 0;
    }
}

.fa-bars {
    display: none;
    color: white;
}

.fa-times {
    display: none;
    color: white;
}

.nav {
    height: 100%;
    background-color: rgb(0, 0, 0, .8);
    color: white;
}

.logoRow {
    height: 15%;
    justify-content: center;
    align-items: center;
    font-family: 'Odibee Sans', cursive;
    letter-spacing: 1px;
    font-size: 30px;
}

.logoImg {
    width: 50px;
    border-radius: 50%;
}

.navIcons {
    height: 75%;
    justify-content: center;
    align-items: center;
}

.navIcons > ul {
    list-style-type: none;
    padding-left: 0;
}

.navIcons > ul > li {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    font-size: 16px; 
    text-align: center;
}

.navIcon > div {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
}

.navIcon {
    transition: .5s;
    color: #595959;
}

.navIcon:hover {
    color: #D507D9;
}

.contactListItem {
    margin-bottom: 0 !important;
}

.mediaIcons {
    height: 10%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.mediaIcons > ul {
    display: inline-flex;
    list-style-type: none;
    padding-left: 0;
}

.fa-github {
    margin-right: 10px;
    color: white;
}

.fa-github:hover {
    color: #AD5C51;
    transition: .3s;
}

.fa-linkedin-in {
    color: white;
}

.fa-linkedin-in:hover {
    color: #2867B2;
    transition: .3s;
}

/* Main */
.mainCol {
    height: 100%;
    width: 95%;
    padding: 0 !important;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

/* Home */
@media screen and (max-width: 760px) {
    .mainVisCont {
        height: 100vh;
        align-items: center;
    }

    .mainText > h1 {
        font-size: 140px !important;
    }

    .mainText > h2 {
        margin-top: 5px !important;
        font-size: 14px !important;
        color: white !important;
    }
}

.mainVisCont {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.mainText {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

.mainText > h1 {
    font-family: 'Odibee Sans', cursive;
    color: white;
    line-height: 1;
    font-size: 180px;
    letter-spacing: 5px;
}

.mainText > h2 {
    margin-top: -20px;
    margin-right: 13px;
    color: #595959;
    line-height: 1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}

.contactBtn {
    margin-top: 40px;
    margin-right: 13px;
    padding: 10px 30px;
    background-color: transparent;
    border-color: #D507D9;
    color: #D507D9;
    font-family: 'Odibee Sans', cursive;
    font-size: 20px;
    letter-spacing: 1px;
}

.contactBtn:hover {
    background-color: #04BFAD;
    border: 2px solid #04BFAD;
    color: #0D0D0D;
    transition: .3s;
}

/* About */
@media screen and (max-width: 760px) {
    .mainCol {
        width: 100%;
        height: 100% !important;
    }

    .about {
        width: 95% !important;
        margin-top: 120px;
    }
}

.about {
    background-color: rgb(0, 0, 0, .8);
    padding: 10px 10px;
    
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

.aboutText > h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 100px;
    letter-spacing: 3px;
    color: #04BFAD;
}

.aboutText > div {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

/* Skills */
@media screen and (max-width: 760px){
    .skills {
        width: 95% !important;
        height: 100%;
        margin-top: 50px;
    }

    .skillsCol > div > h1 {
        font-size: 70px !important;
    }

    .languageList > h2 {
        font-size: 14px !important;
    }

    .languageList > ul {
        font-size: 16px !important;
    }

    .programmingList > h2 {
        font-size: 14px !important;
    }

    .programmingList > ul > li > i {
        font-size: 30px !important;
    }

    .experienceCol > div > h1 {
        font-size: 70px !important;
    }
}

.skills {
    background-color: rgb(0, 0, 0, .8);
    padding: 10px 0;
    
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

.skillsCol {
    margin-left: 10px;
}

.skillsCol > div > h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 80px;
    letter-spacing: 2px;
    color: #04BFAD;
}

.languageList {
    margin-bottom: 20px;
}

.languageList > h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #595959;
}

.languageList > ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

.languageList > ul > li {
    margin-right: 10px;
}

.programmingList {
    margin-bottom: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.programmingList > h2 {
    font-size: 18px;
    color: #595959;
}

.programmingList > ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 0;
    text-align: center;
    color: white;
}

.programmingList > ul > li {
    margin-right: 30px;
}

.htmlIcon:hover {
    cursor: pointer;
    color: #F06529;
    transition: .3s;
}

.cssIcon:hover {
    cursor: pointer;
    color: #2965F1;
    transition: .3s;
}

.javaScriptIcon:hover {
    cursor: pointer;
    color: #F0DB4F;
    transition: .3s;
}

.reactIcon:hover {
    cursor: pointer;
    color: #61DBFB;
    transition: .3s;
}

.nodeIcon:hover {
    cursor: pointer;
    color: #68A063;
}

.programmingList > ul > li > i {
    font-size: 60px;
}

.programmingList > ul > li > div {
    font-size: 12px;
}

.toolList {
    font-family: 'Roboto Condensed', sans-serif;
}

.toolList > h2 {
    font-size: 18px;
    color: #595959;
}

.toolList > ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 0;
    text-align: center;
    color: white;
}

.adobeIcon:hover {
    cursor: pointer;
    color: #FF0000;
    transition: .3s;
}

.toolList > ul > li > i {
    font-size: 60px;
}

.toolList > ul > li > div {
    font-size: 12px;
}

.experienceCol {
    margin-right: 10px;
}

.experienceCol > div > h1 {
    font-family: 'Odibee Sans', cursive;
    font-size: 80px;
    letter-spacing: 2px;
    color: #04BFAD;
}

.workList {
    font-family: 'Roboto Condensed', sans-serif;
}

.workList > h2 {
    font-size: 18px;
    color: #595959;
}

.workList > ul {
    list-style-type: none;
    padding-left: 0;
    color: white;
}

.workList > ul > li > h3 {
    font-size: 28px;
}

.workList > ul > li > h4 {
    font-size: 18px;
}

.workList > ul > li > p {
    font-size: 14px;
}

.educationList {
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
}

.educationList > h2 {
    font-size: 18px;
    color: #595959;
}

.educationList > ul {
    list-style-type: none;
    padding-left: 0;
    color: white;
}

.educationList > ul > li > h3 {
    font-size: 26px;
}

.educationList > ul > li > h4 {
    font-size: 16px;
}

.educationList > ul > li > p {
    font-size: 12px;
}

/* Projects */
@media screen and (max-width: 760px) {
    .rowTop {
        margin-top: 60px;
        margin-bottom: 0px !important;
    }

    .cardCol {
        margin-bottom: 20px;
    }

    .cardBody {
        width: 100%;
    }

    .cardBody > h3 {
        font-size: 30px !important; 
    }

    .cardBody > p {
        font-size: 12px !important;
    }

    .cardBody > span > a > button {
        padding: 5px 15px !important;
        font-size: 12px;
    }
}


.card {
    background-color: black !important;
    height: 100%;
}

.firstCard {
    animation: fadeInStatic ease 1s;
    -webkit-animation: fadeInStatic ease 1s;
}

.secondCard {
    animation: fadeInStatic ease 2s;
    -webkit-animation: fadeInStatic ease 2s;
}

.thirdCard {
    animation: fadeInStatic ease 3s;
    -webkit-animation: fadeInStatic ease 3s;
}

.fourthCard {
    animation: fadeInStatic ease 4s;
    -webkit-animation: fadeInStatic ease 4s;
}

.rowTop {
    margin-bottom: 30px;
}

.cardBody {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.cardBody > h3 {
    font-family: 'Odibee Sans', cursive;
    font-size: 34px;
    letter-spacing: 1px;
    color: #04BFAD;
}

.cardBody > p {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.cardBody > span > a > button {
    padding: 5px 15px; 
    border: 2px solid #D507D9;
    border-radius: 20px;
    background-color: #D507D9;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.cardBody > span > a > button:hover {
    border: 2px solid #04BFAD;
    background-color: #04BFAD;
    transition: .3s ease;
}

.cardBody > span > a > button:focus {
    outline: none;
}

.demoBtn {
    margin-right: 10px;
}

.card:hover>.cardImg {
    cursor: pointer;
    opacity: .3;
    transition: .5s ease;
}

.card:hover>.cardBody {
    cursor: pointer;
    opacity: 1;
    transition: .5s ease;
}

/* Contact */
@media screen and (max-width: 760px) {
    .contactCont {
        height: 100vh !important;
        display: flex;
        align-items: center;
    }

    .contactCol > h1 {
        font-size: 80px !important;
    }
}

.contactCol {
    width: 450px !important;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: rgb(0, 0, 0, .8);
    
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

.contactCol > h1 {
    text-align: center;
    font-family: 'Odibee Sans', cursive;
    font-size: 100px;
    letter-spacing: 3px;
    color: #04BFAD;
}

.contactCol > ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0 20px;
}

.contactCol > ul > li {
    margin-bottom: 10px;
    color: white;
}

.contactCol > ul > li > span > i {
    color: #04BFAD;
    margin-right: 15px;
}

/* Animations */
@keyframes fadeIn {
    0% { 
        opacity: 0;
        margin-top: 5%;

    }
    100% { 
        opacity: 1;
        margin-top: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% { 
        opacity: 0;
        margin-top: 5%;
    }
    100% { 
        opacity: 1; 
        margin-top: 0;
    }
}

@keyframes fadeInStatic {
    0% { 
        opacity: 0;

    }
    100% { 
        opacity: 1;
    }
}

@-webkit-keyframes fadeInStatic {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1; 
    }
}